.sidebar{
    background: var(--blue);
    height: 100vh;
    color: var(--white);
    flex: 1;
    position: fixed;
}

.sidebar-links a{
    padding: 15px 20px;
    transition: all 0.4s ease;
}

.sidebar-links a.active{
    background: rgb(100, 51, 137);
}

.sidebar-links a{
  text-decoration: none;
  font-size: 19px;
  color: var(--white);
  display: flex;
  align-items: center;
}

.sidebar-links  a svg{
    margin-left: 10px;
}