.prodTable img {
    width: 150px;
    object-fit: cover;
}

.prodTable button {
    background: var(--blue);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
}

.prodTable thead tr {
    width: 63%;
    margin: 30px;
    
}

.prodTable tbody tr{
    margin: 0 30px;
    padding: 20px;
}

.prodTable th {
    padding-right: 65px;
    font-size: 1.2rem;
}

.prodTable tr {
    display: flex;
    justify-content: space-between;
}

.prodTable td {
    display: flex;
    align-items: center;
}

.edit-form-group > div {
    background: var(--white-50);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
  
}

.edit-form-group > div > div { 
     display: flex;
    align-items: center;
    width: 100%;
}

.edit-form-group input,
.edit-form-group textarea {
    border-radius: 10px;
    background: inherit;
    outline: none;
    border: none;
    width: 100%;
}
